{% extends 'gerenciamento/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- Menu Lateral -->
        {% include 'gerenciamento/partials/_menu_lateral.html'%}
        <!-- Conteúdo Principal -->
        <main class="content">
            <h2>Incluir Aluno</h2>
            <form action="#" method="POST" class="student-form">
                {% csrf_token %}
                <label for="nome">Nome do Aluno:</label>
                {{ form.nome }}

                <label for="data_nascimento">Data de Nascimento:</label>
                {{ form.data_nascimento }}

                <label for="turma">Turma:</label>
                {{ form.turma }}

                <label for="email">Email:</label>
                {{ form.email }}

                <label for="telefone">Telefone:</label>
                {{ form.telefone }}

                <button type="submit">Incluir Aluno</button>
            </form>
        </main>
    </div>
{% endblock %}