{% extends 'gerenciamento/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- Menu Lateral -->
        {% include 'gerenciamento/partials/_menu_lateral.html'%}
        <!-- Conteúdo Principal -->
        <main class="content">
            <h2>Incluir Notas para a Turma</h2>

            <!-- Seleção de Turma -->
            <form action="#" method="POST" class="grades-form">
                {% csrf_token %}
                <label for="turma">Selecione a Turma:</label>
                <select id="turma" name="turma">
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>

                <table class="grades-table">
                    <thead>
                        <tr>
                            <th>Nome do Aluno</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    {% for aluno, matricula in alunos_com_matriculas %}
                        <tr>
                            <td>{{ aluno.nome }}</td>
                            <td>
                                <input type="number" name="nota_{{ aluno.id }}" min="0" max="10" step="0.1" required>
                            </td>
                        </tr>
                        {% endfor %}
                </table>

                <button type="submit">Salvar Notas</button>
            </form>
        </main>
    </div>

{% endblock %}