{% extends 'gerenciamento/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- Menu Lateral -->
        {% include 'gerenciamento/partials/_menu_lateral.html'%}
        <!-- Conteúdo Principal -->
        <main class="content">
            <h2>Incluir Nova Turma</h2>
            <form action="#" method="POST" class="class-form">
                <label for="nome_turma">Nome da Turma:</label>
                <input type="text" id="nome_turma" name="nome_turma" required>

                <label for="professor_responsavel">Professor Responsável:</label>
                <input type="text" id="professor_responsavel" name="professor_responsavel" required>

                <label for="horario">Horário:</label>
                <input type="text" id="horario" name="horario" placeholder="Ex: Segundas e Quartas, 14:00 - 16:00" required>

                <label for="sala">Sala:</label>
                <input type="text" id="sala" name="sala" required>

                <button type="submit">Incluir Turma</button>
            </form>
        </main>
    </div>
{% endblock %}
